textarea {
  min-height: 8em !important;
  resize: none;
  overflow-y: hidden;
}

.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
