<div class="main-content-wrapper">

  @if (!isLoading()) {
  <div class="main-container-violet p-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="main-title mb-0">{{ editForm ? 'Edit Vehicle Details' : 'Add Vehicle Details (Registration)' }}</h1>
    </div>

    <div class="form-card-container">
      @if (formConfig && vehicleRegForm) {
      <app-dynamic-form-container [config]="formConfig" [formGroup]="vehicleRegForm">
      </app-dynamic-form-container>
      }

      <!-- Action Buttons -->
      <div class="footer-actions mt-4 text-end">
        <button type="button" class="btn btn-cancel-booking px-5 py-2" (click)="onCancel()">
          Cancel
        </button>

        <button type="button" class="btn btn-schedule-booking px-5 py-2 shadow" (click)="onSubmit()"
          [disabled]="vehicleRegForm?.invalid">
          {{ editForm ? 'Update Vehicle' : 'Register Vehicle' }}
        </button>
      </div>
    </div>
  </div>
  }

  <!-- Loading State -->
  <app-form-loader [isLoading]="isLoading()"></app-form-loader>

</div>