<div style=" padding: 20px;">

    <div class="input-group" style="margin-bottom: 20px;">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" [(ngModel)]="searchQuery" (input)="searchDrivers($event)" />
        <button type="button" class="btn btn-secondary">search</button>
    </div>

    <div style=" display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey; justify-content: space-between;" *ngFor="let item of filteredDrivers">

        <div style="display: flex;
    align-items: center; margin: 10px 0px 10px 0px;">
            <div>
                <img src="../../../assets/images/user/avatar-1.jpg" alt="" style="    border-radius: 50%;
            height: 60px;
            width: 60px;
            object-fit: cover;
            margin-right: 20px;">
            </div>
            <div>
                <p style="    margin: 5px 0px 5px 0px;"> {{ item.type }} </p>
                <p style="    margin: 5px 0px 5px 0px;"> {{ item.otp }} </p>
            </div>
        </div>


        <div>

            <button class="btn btn-secondary">Select Driver</button>
        </div>

    </div>

</div>