<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>Add Vehicle Details (Registering Vehicles)</h5>
      </div>

      <form [formGroup]="vehicleRegForm">
        <div class="card-body">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              formControlName="ownerName"
            />
            <label for="floatingInput">Owner Name</label>
          </div>

          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              formControlName="vehicleType"
            />
            <label for="floatingInput">Vehicle Type</label>
          </div>

          <div class="form-floating mb-3">
            <input
              type="date"
              class="form-control no-spinners"
              id="floatingInput"
              formControlName="insuranceDateEnd"
            />
            <label for="floatingInput">Insurance End Date</label>
          </div>

          <div class="form-floating mb-3">
            <input
              type="date"
              class="form-control no-spinners"
              id="floatingInput"
              formControlName="registrationDate"
            />
            <label for="floatingInput">Vehicle Registration Date</label>
          </div>

          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              formControlName="registeringAuthority"
            />
            <label for="floatingInput">Registering Authority</label>
          </div>

          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control no-spinners"
              id="floatingInput"
              formControlName="location"
            />
            <label for="floatingInput">Location</label>
          </div>

          <div class="form-floating mb-3">
            <input
              type="number"
              class="form-control no-spinners"
              id="floatingInput"
              formControlName="ownerContactNumber"
              readonly
            />
            <label for="floatingInput">Owner Contact Number</label>
          </div>

          <div class="form-floating mb-3">
            <label
              for="floatingInput"
              style="font-size: 12px; color: #6c757d; padding-top: 7px;"
              >CF Date</label
            >
            <input
              type="text"
              class="form-control no-spinners"
              id="floatingInput"
              formControlName="CFDate"
            />
          </div>

          <div class="form-floating mb-3">
            <input
              type="date"
              class="form-control"
              id="floatingInput"
              formControlName="smokeClearanceDateEnd"
            />
            <label for="floatingInput">Smoke Clearance End Date</label>
          </div>

          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              formControlName="vehicleNumber"
            />
            <label for="floatingInput">Vehicle Number</label>
          </div>

          <div class="d-grid mt-4">
            <button
              type="button"
              class="btn btn-secondary"
              [disabled]="!vehicleRegForm.valid"
              (click)="addVehicle()"
            >
              {{editForm? 'Edit Vehicle Details': 'Add Vehicle Details'}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
