<div>
  <app-no-data-found *ngIf="dataSource.data.length === 0"></app-no-data-found>

  <table mat-table [dataSource]="dataSource" *ngIf="dataSource.data.length > 0">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.position ? element.position : '--' }}
      </td>
    </ng-container>

    <!-- Driver Name Column -->
    <ng-container matColumnDef="ownerName">
      <th mat-header-cell *matHeaderCellDef>Owner Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.ownerName ? element.ownerName : '--' }}
      </td>
    </ng-container>

    <!-- Mobile Number Column -->
    <ng-container matColumnDef="vehicleNumber">
      <th mat-header-cell *matHeaderCellDef>Vehicle Number</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.vehicleNumber ? element.vehicleNumber : '--' }}
      </td>
    </ng-container>

    <!-- Leave Reason Column -->
    <ng-container matColumnDef="fuelType">
      <th mat-header-cell *matHeaderCellDef>Fuel Type</th>
      <td mat-cell *matCellDef="let element">
        {{ element.fuelType ? element.fuelType : '--' }}
      </td>
    </ng-container>

    <!-- Leave Type Column -->
    <ng-container matColumnDef="vehicleAge">
      <th mat-header-cell *matHeaderCellDef>Vehicle Age</th>
      <td mat-cell *matCellDef="let element">
        {{ element.vehicleAge ? element.vehicleAge : '--' }}
      </td>
    </ng-container>

    <!-- Number Of Days Leave Column -->
    <ng-container matColumnDef="vehicleClass">
      <th mat-header-cell *matHeaderCellDef>Vehicle Class</th>
      <td mat-cell *matCellDef="let element">
        {{ element.vehicleClass ? element.vehicleClass : '--' }}
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button
          type="button"
          class="btn btn-secondary"
          style="margin-right: 10px;"
          (click)="toViewVehicle(element)"
        >
          View
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          style="margin-right: 10px;"
          (click)="toDeleteVehicle(element)"
        >
          Delete
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          style="margin-right: 10px;"
          (click)="toEditVehicle(element)"
        >
          Edit
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
    *ngIf="showPaginator"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
