<div class="main-content-wrapper">
  <!-- Breadcrumb section is handled by the parent layout -->

  @if (!isLoading()) {
  <div class="main-container-violet p-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="main-title mb-0">{{ isEditMode() ? 'Edit' : 'Add' }} Driver Booking</h1>
      <button class="btn btn-primary-outline btn-sm shadow-sm" (click)="selectDriver()">
        <i class="ti ti-users me-1"></i> Select Driver From List
      </button>
    </div>

    <div class="form-card-container">
      @if (formConfig && bookingForm) {
      <app-dynamic-form-container [config]="formConfig" [formGroup]="bookingForm" (fieldClick)="onFieldClick($event)">
      </app-dynamic-form-container>
      }

      <div class="footer-actions mt-4 text-end">
        <button type="button" class="btn btn-cancel-booking px-5 py-2" (click)="onCancel()">
          Cancel Booking
        </button>

        <button type="button" class="btn btn-schedule-booking px-5 py-2 shadow" (click)="onSubmit()"
          [disabled]="bookingForm.invalid">
          {{ isEditMode() ? 'Update' : 'Schedule' }} Booking
        </button>
      </div>
    </div>
  </div>
  }

  <!-- Loading State -->
  <app-form-loader [isLoading]="isLoading()"></app-form-loader>

</div>