<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Add Driver Details (Registering Drivers)">
      <form>

        <div class="card-body">

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" />
            <label for="floatingInput">Driver Name</label>
          </div>

          <div class="form-floating mb-3">
            <textarea type="text" class="form-control" id="floatingInput" ></textarea>
            <label for="floatingInput">Address</label>
          </div>

          <div class="form-floating mb-3">
            <input type="number" class="form-control no-spinners" id="floatingInput" />
            <label for="floatingInput">Mobile Number</label>
          </div>

          <div class="form-floating mb-3">
            <input type="number" class="form-control no-spinners" id="floatingInput" />
            <label for="floatingInput">Alternate Mobile Number</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" />
            <label for="floatingInput">Bloood Group</label>
          </div>

          <div class="form-floating mb-3">
            <input type="number" class="form-control no-spinners" id="floatingInput" />
            <label for="floatingInput">Driver Licence Number</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="Kerala" readonly />
            <label for="floatingInput">State</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" />
            <label for="floatingInput">District</label>
          </div>

          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingInput" />
            <label for="floatingInput">Pincode</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" />
            <label for="floatingInput">Driver Type</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" />
            <label for="floatingInput">Driver Location</label>
          </div>

          <div class="d-grid mt-4">
            <button type="button" class="btn btn-secondary">Add Driver Details</button>
          </div>

        </div>

      </form>
    </app-card>
  </div>
</div>
