.wrapper {
  margin: 20px;

  th {
    border: 0;
  }

  td {
    border: 0;
  }

  .action-btn {
    display: flex;
    gap: 5px;
    margin: 20px 0;
  }

  button {
    width: 50%;
  }

  .mat-icon {
    float: right;
  }
}
