<div>

    <app-no-data-found *ngIf="dataSource.data.length === 0"></app-no-data-found>

    <table mat-table [dataSource]="dataSource" *ngIf="dataSource.data.length > 0">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{ element?.position ? element.position : '--' }} </td>
        </ng-container>

        <!-- Trip Time Column -->
        <ng-container matColumnDef="tripTime">
            <th mat-header-cell *matHeaderCellDef> Trip Time </th>
            <td mat-cell *matCellDef="let element"> {{ element?.startTime ? element.startTime : '--' }} </td>
        </ng-container>

        <!-- Customer Name Column -->
        <ng-container matColumnDef="customerName">
            <th mat-header-cell *matHeaderCellDef> Customer Name </th>
            <td mat-cell *matCellDef="let element"> {{ element?.customerName ? element.customerName : '--' }} </td>
        </ng-container>

        <!-- Customer Location Column -->
        <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef> Location </th>
            <td mat-cell *matCellDef="let element"> {{ element.pickUpLocation ? element.pickUpLocation :
                '--' }} </td>
        </ng-container>

        <!-- Customer Destination Column -->
        <ng-container matColumnDef="destination">
            <th mat-header-cell *matHeaderCellDef> Destination </th>
            <td mat-cell *matCellDef="let element"> {{ element.dropOffLocation ? element.dropOffLocation : '--' }} </td>
        </ng-container>

        <!-- Customer Vehicle Name Column -->
        <ng-container matColumnDef="vehicleName">
            <th mat-header-cell *matHeaderCellDef> Vehicle Name (Type) </th>
            <td mat-cell *matCellDef="let element"> {{ element.cusVehicleName ? (element.cusVehicleName + ' ( ' +
                element.cusVehicleType + ' )') : '--'
                }} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <button type="button" class="btn btn-secondary" style="margin-right: 10px;"
                    (click)="toViewTrip(element)">View</button>
                <button type="button" class="btn btn-secondary" style="margin-right: 10px;"
                    (click)="toCancelTrip(element)">Cancel</button>
                <button type="button" class="btn btn-secondary" style="margin-right: 10px;"
                    (click)="toEditTrip(element)">Edit</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator> -->
</div>