<div>
  <app-no-data-found *ngIf="dataSource.data.length === 0"></app-no-data-found>

  <table mat-table [dataSource]="dataSource" *ngIf="dataSource.data.length > 0">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.position ? element.position : '--' }}
      </td>
    </ng-container>

    <!-- Driver Name Column -->
    <ng-container matColumnDef="driverName">
      <th mat-header-cell *matHeaderCellDef>Driver Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.driverName ?? element?.fullName ?? '' }}
      </td>
    </ng-container>

    <!-- Mobile Number Column -->
    <ng-container matColumnDef="mobileNumber">
      <th mat-header-cell *matHeaderCellDef>Mobile</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.mobileNumber ? element.mobileNumber : '--' }}
      </td>
    </ng-container>

    <!-- Leave Reason Column -->
    <ng-container matColumnDef="driverType">
      <th mat-header-cell *matHeaderCellDef>Driver Type</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.driverType === 'callDriver' || 'Call Driver' ? 'Call Driver'
        : '--' }}
      </td>
    </ng-container>

    <!-- Leave Type Column -->
    <ng-container matColumnDef="district">
      <th mat-header-cell *matHeaderCellDef>Location</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.district ? element.district : '--' }}
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button
          type="button"
          class="btn btn-secondary"
          style="margin-right: 10px;"
          (click)="toViewDriverDetails(element)"
        >
          View
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          style="margin-right: 10px;"
          (click)="toDeleteDriverDetails(element)"
        >
          Delete
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          style="margin-right: 10px;"
          (click)="toEditDriverDetails(element)"
        >
          Edit
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
    *ngIf="showPaginator"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
